# ==========================================
# GNV MANAGER FRONTEND - VARIABLES DE ENTORNO
# ==========================================
# Este archivo es un template. Copiar como `.env` localmente.

# URL base para conectarse al backend
VITE_API_URL=http://localhost:3000/api/v1

# Configuración de Entorno
VITE_APP_ENV=development
